<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <body>
            {{>header}}
            <img src='/img/image.png'>
            <p>created by {{author}}</p>
        </body>
    </head>
    </html>